---
import Layout from '../layouts/Layout.astro';
import Header from '../components/layout/Header.astro';
import Hero from '../components/sections/Hero.astro';
import Requirements from '../components/sections/Requirements.astro';
import Features from '../components/sections/Features.astro';
import Pricing from '../components/sections/Pricing.astro';
import Footer from '../components/layout/Footer.astro';
import Registration from '../components/sections/Registration.astro';
---

<Layout title="Master en IA Generativa">
	<Header />
	<main>
	  <Hero />
	  <Requirements />
	  <Features />
	  <Pricing />
	  <Registration />
	</main>
	<Footer />
  </Layout>
